.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  width: 200px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #808080;
  outline: none;
}

.search-bar input:focus {
  border-color: #ffa500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.4);
}

.search-bar button {
  background-color: #ffa500;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
}

.search-bar button:hover {
  background-color: #e69500;
}
